fastapi==0.134.0
uvicorn==0.41.0
pydantic==2.12.5
email-validator==2.3.0
python-multipart==0.0.22
pymongo==4.16.0
dnspython==2.8.0
python-jose==3.5.0
passlib==1.7.4
bcrypt==4.0.1
openai==2.24.0
sentence-transformers==5.2.3
faiss-cpu==1.13.2
reportlab==4.4.10
python-dotenv==1.2.1
